{% extends "../base.html" %}
{% block body %}

Seconds to refresh: <b id="time_remaining">15</b>.
<a onclick="load_alerts();return false;" href="/alerts/index">Refresh</a>

<span id="msg">
</span>
<span id="sounds">
<audio id="sound" src="/static/alarm.wav" type="audio/x-wav">No audio support</audio>
</span>

<div id="down">
Loading initial alerts...
</div>

<div id="up">
</div>

<script src={{ static_url("js/alerts.js") }}></script>
<script src="http://cdn.socket.io/stable/socket.io.js"></script>
{% end %}
